
hr.w1p {
    width: 1%;
}

hr.w2p {
    width: 2%;
}

hr.w3p {
    width: 3%;
}

hr.w4p {
    width: 4%;
}

hr.w5p {
    width: 5%;
}

hr.w6p {
    width: 6%;
}

hr.w7p {
    width: 7%;
}

hr.w8p {
    width: 8%;
}

hr.w9p {
    width: 9%;
}

hr.w10p {
    width: 10%;
}

hr.w11p {
    width: 11%;
}

hr.w12p {
    width: 12%;
}

hr.w13p {
    width: 13%;
}

hr.w14p {
    width: 14%;
}

hr.w15p {
    width: 15%;
}

hr.w16p {
    width: 16%;
}

hr.w17p {
    width: 17%;
}

hr.w18p {
    width: 18%;
}

hr.w19p {
    width: 19%;
}

hr.w20p {
    width: 20%;
}

hr.w21p {
    width: 21%;
}

hr.w22p {
    width: 22%;
}

hr.w23p {
    width: 23%;
}

hr.w24p {
    width: 24%;
}

hr.w25p {
    width: 25%;
}

hr.w26p {
    width: 26%;
}

hr.w27p {
    width: 27%;
}

hr.w28p {
    width: 28%;
}

hr.w29p {
    width: 29%;
}

hr.w30p {
    width: 30%;
}

hr.w31p {
    width: 31%;
}

hr.w32p {
    width: 32%;
}

hr.w33p {
    width: 33%;
}

hr.w34p {
    width: 34%;
}

hr.w35p {
    width: 35%;
}

hr.w36p {
    width: 36%;
}

hr.w37p {
    width: 37%;
}

hr.w38p {
    width: 38%;
}

hr.w39p {
    width: 39%;
}

hr.w40p {
    width: 40%;
}

hr.w41p {
    width: 41%;
}

hr.w42p {
    width: 42%;
}

hr.w43p {
    width: 43%;
}

hr.w44p {
    width: 44%;
}

hr.w45p {
    width: 45%;
}

hr.w46p {
    width: 46%;
}

hr.w47p {
    width: 47%;
}

hr.w48p {
    width: 48%;
}

hr.w49p {
    width: 49%;
}

hr.w50p {
    width: 50%;
}

hr.w51p {
    width: 51%;
}

hr.w52p {
    width: 52%;
}

hr.w53p {
    width: 53%;
}

hr.w54p {
    width: 54%;
}

hr.w55p {
    width: 55%;
}

hr.w56p {
    width: 56%;
}

hr.w57p {
    width: 57%;
}

hr.w58p {
    width: 58%;
}

hr.w59p {
    width: 59%;
}

hr.w60p {
    width: 60%;
}

hr.w61p {
    width: 61%;
}

hr.w62p {
    width: 62%;
}

hr.w63p {
    width: 63%;
}

hr.w64p {
    width: 64%;
}

hr.w65p {
    width: 65%;
}

hr.w66p {
    width: 66%;
}

hr.w67p {
    width: 67%;
}

hr.w68p {
    width: 68%;
}

hr.w69p {
    width: 69%;
}

hr.w70p {
    width: 70%;
}

hr.w71p {
    width: 71%;
}

hr.w72p {
    width: 72%;
}

hr.w73p {
    width: 73%;
}

hr.w74p {
    width: 74%;
}

hr.w75p {
    width: 75%;
}

hr.w76p {
    width: 76%;
}

hr.w77p {
    width: 77%;
}

hr.w78p {
    width: 78%;
}

hr.w79p {
    width: 79%;
}

hr.w80p {
    width: 80%;
}

hr.w81p {
    width: 81%;
}

hr.w82p {
    width: 82%;
}

hr.w83p {
    width: 83%;
}

hr.w84p {
    width: 84%;
}

hr.w85p {
    width: 85%;
}

hr.w86p {
    width: 86%;
}

hr.w87p {
    width: 87%;
}

hr.w88p {
    width: 88%;
}

hr.w89p {
    width: 89%;
}

hr.w90p {
    width: 90%;
}

hr.w91p {
    width: 91%;
}

hr.w92p {
    width: 92%;
}

hr.w93p {
    width: 93%;
}

hr.w94p {
    width: 94%;
}

hr.w95p {
    width: 95%;
}

hr.w96p {
    width: 96%;
}

hr.w97p {
    width: 97%;
}

hr.w98p {
    width: 98%;
}

hr.w99p {
    width: 99%;
}

hr.w100p {
    width: 100%;
}

/* Margin */